* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", Arial, Helvetica, sans-serif, sans-serif;
}
[class*="col"] {
  float: left;
  padding: 12px;
  margin-left: 1%;
}
.frist {
  margin-left: 0;
}
body,
html {
  height: 100%;
}

.service {
  background-image: url("../3251880.jpg");
  /* background-color: azure; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: sticky;
  background-image: linear-gradient(black);
}
.sec {
  height: 50%;
}
.contaner {
  width: 80%;
  margin: auto;
  padding-top: 50px;
}
h1 {
  color: #f49016;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
}
p {
  color: #fff;
  text-align: center;
}
.border {
  box-shadow: 2px 4px 6px #ffffff;
  /* border: solid 2px #ffffff5c; */
}
.border:hover {
  border-bottom: solid 3px #f49016;
  padding-top: 30px;
  transition: all 0.2s ease-in-out;
}
/*////////////////////// Desktop Style/////////////////////////*/
/*////////////////////// Layout Style/////////////////////////*/
.row::after {
  content: ".";
  clear: both;
  height: 0;
  display: block;
  visibility: hidden;
  line-height: 0;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 24%;
}
.col-4 {
  width: 32.33%;
}
.col-5 {
  width: 40.66%;
}
.col-6 {
  width: 49%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.64%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.63%;
}
.col-12 {
  width: 100%;
}

/*////////////////////// MD Style/////////////////////////*/
/*//////////////////////MD Layout Style/////////////////////////*/
@media screen and (max-width: 768px) {
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 32.33%;
  }
  .col-m-5 {
    width: 40.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.64%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.63%;
  }
  .col-m-12 {
    width: 100%;
    margin: 10px 0;
  }
}
